<div id="battleship-app" class="container" v-cloak="v-cloak">
  <main-menu v-show="pageDisplayed == BattleshipPage.MAIN_MENU"></main-menu>
  <div class="game-container" v-show="pageDisplayed == BattleshipPage.BATTLESHIP_GAME">
    <div class="main-container">
      <div class="upper-container">
        <div class="top-panel">
          <div class="top-panel-left">
            <div class="inner">Game Key:
              <div @click="copyGameKey" class="game-key-content">
                <i class="fas fa-copy"></i>
                <div class="game-key">{{ gameKey }}</div>
              </div>
            </div>
          </div>
          <!--<div class="top-panel-right">-->
            <!--<div class="inner">{{ gameStateDescription }}</div>-->
          <!--</div>-->
          <div class="clearfix"></div>
        </div>
        <div class="main-game-container">
          <div class="battle-field-container battle-field-left">
            <canvas width="300" height="300"></canvas>
          </div>
          <div class="battle-field-container battle-field-right">
            <canvas width="300" height="300"></canvas>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <battleship-chat ref="chat"></battleship-chat>
    </div>
    <div class="right-panel">
      <!--<div class="player-container" :class="{ 'me': playerRole != PlayerRole.SPECTATOR }">-->
        <!--{{ playerRole == PlayerRole.SPECTATOR ? players.a.name : playerName + ' (me)' }}-->
      <!--</div>-->
      <!--<div class="player-container" v-show="opponentName" :class="{ 'opponent': playerRole != PlayerRole.SPECTATOR }">-->
        <!--{{ playerRole == PlayerRole.SPECTATOR ? players.b.name : opponentName + ' (opponent)' }}-->
      <!--</div>-->
      <!--<div class="player-container spectator" :class="playerId == spectator.id" v-for="spectator in spectators">{{ spectator.name }}</div>-->
    </div>
    <div class="clearfix"></div>
  </div>

  <vue-toast ref='toast'></vue-toast>
</div>