<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-113519000-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113519000-1');
    </script>

    <title>Battleship Game</title>

    <link th:href="@{lib/bootstrap/bootstrap.min.css}" href="../static/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{css/battleship.css}" href="../static/css/battleship.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />

    <script th:src="@{js/battleship-api.js}" src="../static/js/battleship-api.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="battleship-app" class="container" v-cloak="v-cloak">
        <main-menu v-show="pageDisplayed == BATTLESHIP_PAGE.MAIN_MENU"></main-menu>
        <div class="game-container" v-show="pageDisplayed == BATTLESHIP_PAGE.BATTLESHIP_GAME">
            <div class="main-container">
                <div class="upper-container">
                    <div class="top-panel">
                        <div class="top-panel-left">
                            <div class="inner">Game Key:
                                <div v-on:click="copyGameKey" class="game-key-content">
                                    <i class="fas fa-copy"></i>
                                    <div class="game-key">{{ gameKey }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="top-panel-right">
                            <div class="inner">{{ gameState }}</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="main-game-container">
                        <div class="battle-field-container battle-field-left">
                            <canvas width="300" height="300"></canvas>
                        </div>
                        <div class="battle-field-container battle-field-right">
                            <canvas width="300" height="300"></canvas>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <battleship-chat ref="chat"></battleship-chat>
            </div>
            <div class="right-panel">
                <!--<div class="player-container me">{{ playerName }}</div>-->
                <!--<div class="player-container opponent">{{ opponentPlayer.name }}</div>-->
                <!--<div class="player-container spectator" v-for="spectator in spectators">{{ spectator.name }}</div>-->
            </div>
            <div class="clearfix"></div>
        </div>

        <vue-toast ref='toast'></vue-toast>
    </div>

    <script th:src="@{js/util.js}" src="../static/js/util.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script th:src="@{js/battleship-live.js}" src="../static/js/battleship-live."></script>

    <link rel="stylesheet" th:href="@{lib/toast/vue-toast.min.css}"
          href="../static/lib/toast/vue-toast.min.css" charset="utf-8" />

    <script th:src="@{lib/toast/vue-toast.min.js}" src='../static/lib/toast/vue-toast.min.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script th:src="@{lib/bootstrap/bootstrap.min.js}" src="../static/lib/bootstrap/bootstrap.min.js"></script>

    <script th:src="@{js/validators.js}" src="../static/js/validators.js"></script>

    <script th:src="@{js/main-menu.js}" src="../static/js/main-menu.js"></script>
    <script th:src="@{js/battleship-chat.js}" src="../static/js/battleship-chat.js"></script>
    <script th:src="@{js/battleship.js}" src="../static/js/battleship.js"></script>
</body>
</html>