.create-join-game-container {
    padding: 20px 35px 40px 35px
}

.create-new-game-container {
    padding: 45px 40px;
    min-width: 440px;
}

.join-existing-game-container {
    padding: 45px 40px;
    min-width: 440px;
}

.battleship-container {
    text-align: center;
    background-color: rgba(173, 216, 230, 0.60);
    border: 5px solid cadetblue;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 0 30px #345d69;
}

body {
    /*background-color: rgba(211, 196, 200, 0.24);*/
    background-image: url('../img/battleship-background-img.jpg');
    background-size: cover;
}