<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-113519000-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113519000-1');
    </script>

    <link href="/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/battleship.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />

    <script src="/js/battleship-api.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script src="/js/util.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script src="/js/battleship-live.js"></script>

    <link rel="stylesheet" href="/lib/toast/vue-toast.min.css" charset="utf-8" />

    <script src="/lib/toast/vue-toast.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="/lib/bootstrap/bootstrap.min.js"></script>

    <script src="/js/validators.js"></script>

    <script src="/js/main-menu.js"></script>
    <script src="/js/battleship-chat.js"></script>
    <script src="/js/battleship.js"></script>
  </body>
</html>
